.container {
    margin: 10px;
    display: flex;

    border: 1px solid rgb(92, 219, 149, 0.3);
    border-radius: 7px;

    transition: background-color 0.2s;
}

.container button:first-child {
    border-radius: 6px 0 0 6px;
}

.container button:last-child {
    border-radius: 0 6px 6px 0;
}

.pageNum {
    padding: 7px 15px;
    min-width: 40px;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    color: rgb(5, 56, 107, 0.7);
    background: #fff;
}

.pageNum:hover,
.pageNum:target {
    background: rgb(92, 219, 149, 0.1);
    color: #05386B;
}

.pageNum:disabled,
.pageNum:disabled:hover {
    cursor: default;

    color: rgb(92, 219, 149, 0.7);
    background: #fff;
}

.pageNumActive {
    padding: 7px 15px;
    min-width: 40px;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    background: rgb(92, 219, 149, 0.1);
    color: #05386B;
}