.container {
    margin: 5px;
    padding: 0 1rem;
    background-color: inherit;    
    cursor: pointer;
    color: #05386B;
}

.icon {
    height: 20px;
    opacity: 0.5;
}

.icon:hover, .icon:target {
    opacity: 1;
}
