.main {
    padding: 10px 20px;
    margin: 10px 5px;

    background: #379683;
    border-radius: 20px;
    border: none;
    
    font-size: 18px;
    font-weight: 700;
    color: #EDF5E1;
    cursor: pointer;
}

.active {
    padding: 10px 20px;
    margin: 10px 5px;

    background: #5CDB95;
    border-radius: 20px;
    border: none;
    
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.main:hover {
    background: #5CDB95;
    color: #fff;
}

.active:hover {
    opacity: 0.7;
}