.Add-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.add {
    display: flex;
    flex-direction: column;
    width: 80%;

    max-width: 1044px;
    margin: 20px 0;
    font-size: 20px; 
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.btns-genres {
    color: #EDF5E1;
    background: #379683;
}

.container-save {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.add hr {
    margin-top: 10px;
    width: 100%;
    background-color: #EDF5E1;
    border: 1px solid #EDF5E1;
}

.add-poster-container {
    display: flex;
    flex-wrap: wrap;
}

.add-poster-wrapper {
    width: 230px;
    height: 296.63px;
    margin: 20px 10px;
    overflow: hidden;
    
    filter: drop-shadow(0px 0px 10px #D4EDD3);
    border-radius: 10px;
}

.add-poster-wrapper img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;    
    transform: translateX(-50%);
}

.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem 0;

    border-radius: 0 0 0 7px;
    background: rgb(0, 0, 0, 0.5);
}

.error {    
    margin: 0 10px;
    font-size: 18px;
    color: #DB675C;
}
