.Add-page {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1044px;
    margin: 20px 0;
    font-size: 20px; 
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
}

input {
    margin: 10px;
    margin-bottom: 0;
    padding: 20px 25px;
    width: 100%;
    max-width: 845px;

    background-color: #EDF5E1;
    border-radius: 10px;
}

button {
    margin: 10px 10px 0 10px;
    padding: 10px 25px;
    max-width: max-content;

    background: #5CDB95;
    border-radius: 7px;
    
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.btns-genres {
    color: #EDF5E1;
    background: #379683;
}

.container-save {
    display: flex;
    justify-content: center;
}

.btn-save {
    margin: 30px;
    padding: 15px 30px;    
    font-size: 24px;
}

hr {
    margin-top: 10px;
    width: 100%;
    background-color: #EDF5E1;
    border: 1px solid #EDF5E1;
}

h1 {
    padding: 50px 10px 0 10px;
}

h2 {
    padding: 25px 10px 0 10px;
}