.Article-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    /* background-color: #05386B; */
    background: url("../styles/img/Background.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

.Article-page button {    
    filter: drop-shadow(0px 0px 5px rgb(5, 56, 107, 0.3));
}

.Article-page h1 {
    font-family: 'Dressedless Pro';
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0.07em;

    color: #EDF5E1;
    margin-bottom: 25px;
    padding-top: 0;
}

.Article-page h6 {
    font-family: 'Dressedless Pro';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.07em;

    color: #05386B;
    margin-left: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 70px 0;
}

.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;

    max-width: 320px;
}

.art-img {
    max-width: 320px;
    min-width: 320px;
    height: 400px;
    margin-bottom: 25px;
    overflow: hidden;
    
    filter: drop-shadow(0px 0px 10px #D4EDD3);
    border-radius: 10px;
}

.art-img img {    
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.art button {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    height: 50px;
    border-radius: 7px;
    padding: 10px 15px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;  
}

.art span {
    color: #EDF5E1;
}

.info-content {
    display: flex;
    flex-direction: column;
}

.info-content-main {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    height: 100%;
}

.info-description {
    display: flex;
    flex-direction: column;
    max-width: 50%;    

    font-size: 20px;
    color: #fff;
}

.info-description p {
    margin-bottom: 15px;
    line-height: 30px;
}

.info-description span {
    color: #C2F8CB;
    opacity: 0.8;
    font-weight: 600;
    margin-right: 20px;
}

.info-genres {
    word-spacing: 10px;
}

.info-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #EDF5E1;
}

.info-ui-rate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.info-ui span {
    font-family: 'Dressedless Pro';
    font-weight: 400;
    font-size: 46px;
    line-height: 61px;
    letter-spacing: 0.07em;

    color: #C2F8CB;
    margin-right: 30px;
}

.info-ui button {
    margin-right: 0;
}

.description {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 70px;
}

.description p {    
    line-height: 30px;
    font-size: 20px;
    width: 80%;
}

.description span {
    margin-top: 10px;
    color: #EDF5E1;
    line-height: 26px;
    align-self: flex-end;
    margin-right: 20%;
}

.pictures {
    width: 80%;
    margin-bottom: 70px;
}

.pictures-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.pictures-content-art {
    height: 225px;
    width: 300px;

    border-radius: 10px;
    overflow: hidden;

    filter: drop-shadow(0px 0px 7px rgb(212, 237, 211, 0.3));
}

.pictures-content-art img {    
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.comments {
    width: 80%;
}
