.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;

    max-height: 82px;
    width: 100%;
    padding: 12px 69px;
}

.content input {
    padding: 7px 28px;
    width: 100%;
    max-width: 224px;

    background-color: #EDF5E1;
    border-radius: 5px;
}

.content input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: #379683;
}

.content input:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: #379683;
}

.contentR {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo {
    font-family: 'Monofett', cursive;
    font-weight: 400;
    font-size: 50px;

    display: flex;
    align-items: center;
    text-align: center;    
    cursor: default;

    transition: 0.2s;
}

.logo a {
    text-decoration: none;
    cursor: pointer;
    color: #05386B;
}

.logo a:hover {
    margin-bottom: 1px;
}

.logo a:active {
    text-decoration: none;
    color: #05386B;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    width: 40%;     
}

.links a {
    text-decoration: none;
    cursor: pointer;
    padding-right: 20px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;     
}

.not-active {     
    color: #379683;
}

.links a:hover {
    color: #8EE4AF
}

.active {
    color: #05386B;
}

.line {
    background-color: #8EE4AF;    
    border: 1px solid #8EE4AF;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    margin-left: 40px;
    overflow: hidden;

    outline: 1px solid #5CDB95;
    border-radius: 8px;  

    transition: 0.2s;  
}

.avatar:hover,
.avatar:active {
    box-shadow: 0px 0px 10px #5CDB95;
}

.avatar img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%); 
}