.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 0;
    flex-wrap: wrap;
}

.nothing {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 830px;
    margin-bottom: 70px;
}