.list {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    width: 100%;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 0;
    flex-wrap: wrap;
    padding-left: 10%;
}
