.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 0;
    flex-wrap: wrap;
}

.last {
    height: 20px;
    background-color: inherit;
}

.nothing {
    display: flex;
    width: 100%;
    justify-content: center;
}