.base {
    margin: 10px;
    margin-bottom: 1.5px;
    padding: 20px 25px;
    width: 100%;
    max-width: 845px;

    background-color: #EDF5E1;
    border-radius: 10px;

    color: #05386B;
    caret-color: #05386B;
    outline: none;

    font-size: 20px;     
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

.base::placeholder {
    color: #379683;
}

.base:hover,
.base:focus {
    margin: 8.5px;
    margin-bottom: 0;
    border: 1.5px solid #379683;
}

.base[type="date"] {
    max-width: 200px;
    color: #379683;
}

.base:hover[type="date"],
.base:focus[type="date"] {
    margin: 10px;
    margin-bottom: 1.5px;
    border: none;
}

.base[type=date]::-webkit-calendar-picker-indicator {
	cursor: pointer;
    opacity: 0.6;
}

.base[type=date]::-webkit-calendar-picker-indicator:hover {
	opacity: 1;
}

.light {
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    width: 100%;

    border: 1px solid #5CDB95;
    border-radius: 10px; 
    background-color: #fff;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #05386B;
    caret-color: #05386B;
    outline: none;
}

.light::placeholder {
    color: #5CDB95;
    opacity: 0.5;
}

.light:focus,
.light:hover {
    filter: drop-shadow(0px 0px 10px rgba(92, 219, 149, 0.3));
}

.search {
    padding: 0.5rem 1rem;
    margin-bottom: 25px;
    width: 80vw;
    max-width: 1044px;

    border: 1px solid #5CDB95;
    border-radius: 10px; 
    background-color: #fff;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #05386B;
    caret-color: #05386B;
    outline: none;
}

.search::placeholder {
    color: #5CDB95;
    opacity: 0.7;
}

.search:focus,
.search:hover {
    filter: drop-shadow(0px 0px 10px rgba(92, 219, 149, 0.3));
}
