.innerSorter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 308px;
    margin-top: 70px;

    align-self: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1044px;
}

.content::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EDF5E1;
}

.catalog {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #05386B;
}

.catalog a {
    padding: 0 15px;
    text-decoration: none;
    color: #05386B;
    cursor: pointer;    
}

.catalog a:hover, a:active {
    font-weight: 400;
}

.catalog span {
    padding: 0 35px 0 10px;
}
