.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 25px 35px;
    width: 80%;
    height: max-content;

    background-color: #EDF5E1;
    box-shadow: 0px 0px 10px #EDF5E1;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #05386B;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    overflow: hidden;

    border: 1.5px solid #05386B;
    border-radius: 8px; 
}

.avatar img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #379683;
}

.main hr {
    width: 100%;
    height: 1.5px;
    background-color: rgb(55, 150, 131);
}

.content {
    width: 100%;
    margin-top: 20px;

    font-size: 16px;
    color: #05386B;
}

.someError {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #EDF5E1;
}