.notUser {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    padding: 15px 25px;
    width: 80%;
    height: max-content;

    background-color: inherit;
    box-shadow: 0px 0px 10px #EDF5E1;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 15px 25px;
    width: 80%;
    height: max-content;

    background-color: inherit;
    box-shadow: 0px 0px 10px #EDF5E1;
    border-radius: 10px;
    transition: 0.2s;
}

.main:hover {
    box-shadow: 0px 0px 12px #EDF5E1;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;

    color: #EDF5E1;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    overflow: hidden;

    border: 1.5px solid #EDF5E1;
    border-radius: 8px; 
}

.avatar img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;

    font-size: 16px;
    color: #05386B;
}